<!--The content below is only a placeholder and can be replaced.-->

<div class="clearfix">
  <nav>
    <div class="nav-left">
      <button class="nav-btn">Home</button>
    </div>
    <div class="nav-right">
      <span class="horizontal-list">
          <fa-icon [icon]="faShoppingCart"></fa-icon>
            kjhkjasf
        </span>
      <span class="horizontal-list">
          <fa-icon [icon]="faListAlt"></fa-icon>
            kjhkjasf
        </span>
    </div>
  </nav>
  <main>
    
  </main>
</div>


<router-outlet></router-outlet>